
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en">
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

    <title>Concept HTML5 Layout</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--
    Concept Template
    http://www.templatemo.com/tm-397-concept
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- CSS Bootstrap & Custom -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/templatemo_misc.css" rel="stylesheet" />

    <!-- Main CSS -->
    <link href="~/assets/css/templatemo_style.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/ico/favicon.ico">

</head>
<body>


    <div class="site-header">
        <div class="main-navigation">
            <div class="responsive_menu">
                <ul>
                    <li><a class="show-1 templatemo_home" href="#">Gallery</a></li>
                    <li><a class="show-2 templatemo_page2" href="#">Upload Images</a></li>
                </ul>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 responsive-menu">
                        <a href="#" class="menu-toggle-btn">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div> <!-- /.col-md-12 -->
                    <div class="col-md-12 main_menu">
                        <ul>
                            <li><a class="show-1 templatemo_home" href="#">Gallery</a></li>
                            <li><a class="show-2 templatemo_page2" href="#">Upload Images</a></li>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-navigation -->
        @RenderBody()
        <hr />
        <div id="templatemo_footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright &copy; 2084 Your Company Name</p>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.templatemo_footer -->
        <!-- Scripts -->
        <script src="~/assets/js/jquery-1.10.2.min.js"></script>
        <script src="~/assets/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/assets/js/modernizr.js"></script>
        <script src="~/assets/js/bootstrap.js"></script>
        <script src="~/assets/js/tabs.js"></script>
        <script src="~/assets/js/jquery.lightbox.js"></script>
        <script src="~/assets/js/templatemo_custom.js"></script>
        <!--
        Free Responsive Template by templatemo
        http://www.templatemo.com
    -->
        <!-- templatemo 397 concept -->
</body>
</html>